/* General navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Black with some transparency */
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.navbar-left span {
  color: #ff6347;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Add spacing between links */
  margin: 0;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff6347;
}

.navbar-right {
  margin-right: 2rem; /* Reduced margin to keep the content within the screen */
  font-size: 1.5rem;
  color: rgb(185, 46, 46);
}

/* Resume Button */
.resume-button {
  background-color: #ff6347; /* Spider color */
  color: white;
  padding: 0.1rem 0.5rem; 
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resume-button:hover {
  background-color: white;
  color: black;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .hamburger-icon {
    display: block;
    position: absolute;
    top: 1.25rem;
    right: 3rem; /* Adjusted to be inside the screen */
  }

  .navbar-links {
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    display: none;
    z-index: 999; /* Ensures menu is on top of other elements */
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    width: 100%; /* Ensure links are full-width */
    text-align: left; /* Align text to the left */
    padding: 0;
    padding-left: 5px;
  }

  .navbar-links a {
    font-size: 1rem;
    width: 100%;
    padding-left: 1rem; /* Added padding for better alignment */
  }

  .navbar-left {
    margin-left: 1rem;
  }

  .navbar-right {
    margin-right: 1rem;
  }
}
