/* src/components/Home.css */

.home-section {
    background-image: url('../assets/images/Background.jpg'); /* If you have a background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center content vertically */
    padding-left: 5%; /* Add some padding to the left */
    color: white; /* Text color */
  }
  
  .home-content {
    margin-bottom: 40px;
    max-width: 600px; /* Limit the width of the text block */
    color: black;
    margin-left: 2rem;
  }
  
  .home-content p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .home-content p span {
    color: #ff6347c3;
    font-size:medium;
    font-style: italic;
  }
  
  .home-content h1 {
    margin: 0;
  
    font-size: 5rem;
    font-weight: bold;
  }

  .home-content h1 span{
    color: #ff6347;
  }
  
  .home-content h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  