.home-section {
  background-image: url('../assets/images/Background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center; /* Center content vertically */
  padding-left: 5%;
  color: white;
}

/* Content styles */
.home-content {
  margin-bottom: 40px;
  max-width: 600px; /* Limit the width of the text block */
  color: black;
  margin-left: 2rem;
}

.home-content p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.home-content p span {
  color: #ff6347c3;
  font-size: medium;
  font-style: italic;
}

.home-content h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
}

.home-content h1 span {
  color: #ff6347;
}

.home-content h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .home-section {
    background-position:10%; /* Adjust background image position on mobile */
  }

  .home-content {
    margin-left: 1rem; /* Reduce left margin on mobile */
    max-width: 90%; /* Make the content width responsive */
  }

 .home-content p {
    font-size: 1rem; 
  }

  /* .home-content h1 {
    font-size: 3rem; 
  } */

  .home-content h3 {
    font-size: 1rem; 
  } 
}
